@import url("https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Roboto+Condensed|Yeseva+One&display=swap");
#subiz .template.template6 * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

#subiz .template.template6 .container {
  display: flex !important;
  flex-direction: column !important;
  height: 100vh !important;
  width: 100vw !important;
  max-width: 100% !important;
  max-height: 100% !important;
  background-image: url("../assets/bg6.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: relative !important;
  align-items: center !important;
  justify-content: center !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#subiz .template.template6 .button-close {
  width: 30px !important;
  height: 30px !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  border-radius: 15px !important;
  background-color: #d9d9d9 !important;
  border: none !important;
  cursor: pointer !important;
  background-image: url("../assets/close.png") !important;
  background-size: 100% 100% !important;
}

#subiz .template.template6 .title {
  color: #fff !important;
  font-family: "Montserrat" !important;
  font-weight: bolder !important;
  font-size: 42px !important;
  text-align: center !important;
  width: 40% !important;
}

#subiz .template.template6 .mobile .white-div {
  width: 52px !important;
  height: 2px !important;
}

#subiz .template.template6 .white-div {
  margin: 10px !important;
  width: 160px !important;
  height: 5px !important;
  background-color: #fff !important;
}

#subiz .template.template6 .description {
  color: #fff !important;
  font-family: "Muli" !important;
  font-style: normal !important;
  font-size: 24px !important;
  width: 40% !important;
  text-align: center !important;
}

#subiz .template.template6 .form-template {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 20px !important;
}

#subiz .template.template6 .form-item {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

#subiz .template.template6 .label {
  display: none !important;
}

#subiz .template.template6 .text-input {
  margin-top: 10px !important;
  width: 40% !important;
  height: 40px !important;
  border: none !important;
  padding-left: 5px !important;
  background-color: #ffffff !important;
  border: none !important;
  outline: 0 !important;
  border-radius: 5px !important;
}

#subiz .template.template6 .text-input::placeholder {
  color: #8d8d8d73 !important;
  font-family: "Muli" !important;
  font-size: 14px !important;
}

#subiz .template.template6 .buttons-container {
  margin-top: 10px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 10px !important;
}

#subiz .template.template6 .primary-button {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
  font-family: "Roboto" !important;
  font-weight: bold !important;
  font-size: 16px !important;
  background-color: #DAB86A !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
  text-align: center !important;
  cursor: pointer !important;
  outline: 0 !important;
  text-align: center !important;
}

#subiz .template.template6 .secondary-button {
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  margin-top: 5px !important;
  font-family: "Roboto" !important;
  font-weight: bold !important;
  color: #000 !important;
  font-size: 16px !important;
  background-color: ghostwhite !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  outline: 0 !important;
  text-align: center !important;
}

#subiz .template.template6 .secondary-button:hover {
  background-color: #e4e4e4 !important;
}

#subiz .template.template6 .primary-button:hover {
  background-color: #d9d9d9 !important;
}

#subiz .template.template6 .container.mobile {
  width: 355px !important;
  background-image: url("../assets/bg6_mobile.png") !important;
  background-size: auto !important;
  background-position: center !important;
  align-items: center !important;
  justify-content: center !important;
  height: 660px !important;
}

#subiz .template.template6 .mobile .title {
  margin-top: 45px !important;
  font-family: "Montserrat" !important;
  font-weight: bold !important;
  font-size: 22px !important;
  line-height: unset !important;
  text-align: center !important;
  width: 100% !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
}

#subiz .template.template6 .mobile .description {
  font-family: "Muli" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 13px !important;
  line-height: 16px !important;
  text-align: center !important;
  width: 100% !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}

#subiz .template.template6 .mobile .form-template {
  margin-top: 10px !important;
  width: 100% !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

#subiz .template.template6 .mobile .form-item {
  margin-top: 5px !important;
}

#subiz .template.template6 .mobile .text-input {
  margin-top: unset !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: unset !important;
}

#subiz .template.template6 .mobile .buttons-container {
  width: 100% !important;
  margin-top: 10px !important;
  margin-bottom: unset !important;
}

#subiz .template.template6 .mobile .buttons-container .primary-button {
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-top: unset !important;
  height: 30px !important;
  padding-top: unset !important;
  padding-bottom: unset !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  background-color: #DAB86Ad4 !important;
  color: #fff !important;
  border-radius: 3px !important;
}

#subiz .template.template6 .mobile .buttons-container .secondary-button {
  margin-right: 5px !important;
  margin-left: 5px !important;
  margin-top: unset !important;
  height: 30px !important;
  padding-top: unset !important;
  padding-bottom: unset !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  background-color: ghostwhite !important;
  color: #000 !important;
  border-radius: 3px !important;
}

#subiz .template.template6 .mobile .primary-button:hover {
  background-color: #DAB86A !important;
}
