#subiz .template.template5_2 .container {
  width: 471px !important;
  max-width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  padding-top: 10px !important;
  background: #fff !important;
  position: relative !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#subiz .template.template5_2 .button-close {
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  right: 10px !important;
  border-radius: 10px !important;
  background-color: #d9d9d9 !important;
  border: none !important;
  cursor: pointer !important;
  background-image: url("../assets/close.png") !important;
  background-size: 100% 100% !important;
}

#subiz .template.template5_2 .title {
  margin-top: 46px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 36px !important;
  line-height: 44px !important;
  text-align: center !important;
  color: #000000 !important;
}

#subiz .template.template5_2 .description {
  margin-top: 6px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 30px !important;
  text-align: center !important;
  color: #000000 !important;
}

#subiz .template.template5_2 .buttons-container {
  margin-top: 36px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 30px !important;
}

#subiz .template.template5_2 .primary-button {
  margin-left: 5px !important;
  margin-right: 5px !important;
  background-color: #0265FF !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  height: 45px !important;
  border-radius: 5px !important;
  border: 0px !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  outline: 0 !important;
  cursor: pointer !important;
}

#subiz .template.template5_2 .secondary-button {
  margin-left: 5px !important;
  margin-right: 5px !important;
  background-color: #d9d9d9 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  height: 45px !important;
  border-radius: 5px !important;
  border: 0px !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  outline: 0 !important;
  cursor: pointer !important;
}

#subiz .template.template5_2 .secondary-button:hover {
  color: #bbbbbb !important;
}

#subiz .template.template5_2 .primary-button:hover {
  background-color: #03176f !important;
}

#subiz .template.template5_2 .container.mobile {
  width: 335px !important;
}
