@import url("https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Yeseva+One&display=swap");
#subiz .template.template7 * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

#subiz .template.template7 .container {
  width: 900px !important;
  background-image: url(../../assets/bg7.png) !important;
  background-size: 100% 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: flex !important;
  position: relative !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#subiz .template.template7 .button-close {
  background-image: url(../../assets/close.png) !important;
  background-size: 100% 100% !important;
  height: 20px !important;
  width: 20px !important;
  border-radius: 10px !important;
  position: absolute !important;
  right: 15px !important;
  top: 15px !important;
}

#subiz .template.template7 .left {
  display: flex !important;
  flex: 2 !important;
  align-items: center !important;
  flex-direction: column !important;
}

#subiz .template.template7 .right {
  display: flex !important;
  flex: 1 !important;
}

#subiz .template.template7 .title {
  color: #000 !important;
  font-family: "Montserrat" !important;
  font-weight: bolder !important;
  font-size: 36px !important;
  line-height: 44px !important;
  text-align: left !important;
  margin-top: 70px !important;
  padding-left: 50px !important;
  padding-right: 30px !important;
  width: 100% !important;
}

#subiz .template.template7 .description {
  font-family: "Muli" !important;
  font-size: 16px !important;
  line-height: 30px !important;
  color: #000 !important;
  text-align: left !important;
  padding-left: 50px !important;
  padding-right: 30px !important;
  width: 100% !important;
}

#subiz .template.template7 .form-template {
  width: 100% !important;
  padding-left: 50px !important;
}

#subiz .template.template7 .form-item {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  padding-right: 45px !important;
  margin-top: 10px !important;
}

#subiz .template.template7 .label {
  font-family: "Muli" !important;
  font-size: 14px !important;
  line-height: 26px !important;
  color: #000 !important;
  padding-right: 30px !important;
}

#subiz .template.template7 .text-input {
  height: 40px !important;
  padding-left: 5px !important;
  width: 100% !important;
  border: solid 1px #cccccc !important;
  align-self: center !important;
  background-color: #fff !important;
}

#subiz .template.template7 .text-input::placeholder {
  color: #d9d9d9 !important;
}

#subiz .template.template7 .countdown-template {
  width: 100% !important;
  height: 150px !important;
  padding-left: 50px !important;
  padding-right: 40px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

#subiz .template.template7 .date {
  border-radius: 5px !important;
  width: 100px !important;
  height: 135px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative !important;
}

#subiz .template.template7 .hour {
  border-radius: 5px !important;
  width: 100px !important;
  height: 135px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative !important;
}

#subiz .template.template7 .minute {
  border-radius: 5px !important;
  width: 100px !important;
  height: 135px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative !important;
}

#subiz .template.template7 .second {
  border-radius: 5px !important;
  width: 100px !important;
  height: 135px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative !important;
}

#subiz .template.template7 .main {
  border-radius: 5px !important;
  width: 100px !important;
  height: 135px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: relative !important;
}

#subiz .template.template7 .top {
  background-color: #e2e2df !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  height: 50px !important;
  width: 100% !important;
}

#subiz .template.template7 .bottom {
  margin-top: 3px !important;
  background-color: #e2e2df !important;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  height: 50px !important;
  width: 100% !important;
}

#subiz .template.template7 .number {
  font-family: "Montserrat" !important;
  font-weight: 600 !important;
  font-size: 64px !important;
  line-height: 78px !important;
  text-align: center !important;
  color: #000000 !important;
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  right: 10px !important;
}

#subiz .template.template7 .text {
  font-family: "Montserrat" !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  color: #000000 !important;
  position: absolute !important;
  left: 10px !important;
  right: 10px !important;
  bottom: 5px !important;
}

#subiz .template.template7 .buttons-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 35px !important;
  margin-bottom: 40px !important;
  width: 100% !important;
  padding-left: 50px !important;
  padding-right: 45px !important;
}

#subiz .template.template7 .primary-button {
  background-color: #FDAD15 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-radius: 5px !important;
  border: none !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  font-family: "Roboto" !important;
  cursor: pointer !important;
  outline: 0 !important;
  width: 100% !important;
}

#subiz .template.template7 .secondary-button {
  margin-top: 10px !important;
  background-color: #d9d9d9 !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-radius: 5px !important;
  border: none !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  outline: 0 !important;
  cursor: pointer !important;
  font-family: "Roboto" !important;
  outline: 0 !important;
  width: 100% !important;
}

#subiz .template.template7 .secondary-button:hover {
  background-color: #bbbbbb !important;
}

#subiz .template.template7 .primary-button:hover {
  background-color: #e89f14 !important;
}
