@import './font.less';
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

#template() {
	@import './base.less';
	@import './layouts/two-column.less';

	.background {
		width: 360px;
		right: 0;
	}
	.body {
		width: calc(100% - 360px);
		padding: 63px 60px;
	}
	.title {
		margin-bottom: 24px;
	}
	.mobile .title {
		margin-bottom: 16px;
	}
	.title-separator {
		display: none;
	}
	.mobile .title-separator {
		background-color: @mobile_primary_button_background;
	}
	.description {
		margin-bottom: 0;
		line-height: 24px;
	}
	.label {
		display: none;
	}
	.btn--primary {
		font-family: 'Yeseva One';
		font-size: 16px;
		width: 100%;
	}
	.buttons {
		margin-top: 36px;
	}
}
#sbz-pop .template.template57 {
	#template() !important;
}
