@import './font.less';

#template() {
    @import './base.less';
	@import './layouts/form-center.less';

	.mobile .background {
		border-radius: 0;
	}
	.title {
		margin-bottom: 8px;
	}
	.description {
		margin-bottom: 17px;
	}
	.mobile .description {
		margin-bottom: 5px;
	}
	.form {
		padding: 0 64px;
	}
	.label {
		display: none;
	}
	.buttons {
		padding: 0 64px;
		margin-top: 8px;
	}
	.btn.btn--primary {
		font-size: 16px;
		line-height: 38px;
		min-height: 42px;
		padding-top: 2px;
		padding-bottom: 2px;
		width: 100%;
	}
}

#sbz-pop .template.template54 {
	#template() !important;
}