@import './font.less';

#template() {
	@import './base.less';
	// .mobile .overlay {
	// 	bottom: unset;
	// 	height: 100%;
	// }
	.background {
		max-height: 100%;
	}

	// .mobile .background {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	object-fit: cover;
	// }

	.container {
		max-height: 90%;
		max-width: 90%;
		width: 800px;
		border-radius: 12px;
		overflow: hidden;
	}

	// .mobile .container {
	// 	background-color: transparent;
	// 	margin: 16px;
	// 	max-width: ~'calc(100% - 32px)';
	// 	max-height: ~'calc(100% - 32px)';
	// 	position: absolute;
	// 	// margin-bottom: 16px;
	// }

	.container__inner {
		display: flex;
		max-height: 100%;
	}
	// .mobile .container__inner {
	// 	// flex-direction: column;
	// 	padding: 24px;
	// 	position: relative;
	// 	background-color: transparent;
	// }

	.content {
		overflow: auto;
		display: flex;
		flex-direction: column;
		padding: 45px 0 40px 0;
		flex: 1;
	}
	// .mobile .content {
	// 	padding: 24px;
	// 	background-color: @background;
	// 	position: relative;
	// 	z-index: 1;
	// 	margin: 0;
	// 	border-radius: 0;
	// }
	// .mobile .title,
	// .mobile .description,
	// .mobile .form {
	// 	padding: 0;
	// }

	// .title {
	// 	margin-bottom: 20px;
	// 	padding: 0 48px;
	// }

	// .mobile .title {
	// 	margin-bottom: 16px;
	// }

	.title-separator {
		display: none;
	}

	.mobile .title-separator {
		background-color: @mobile_primary_button_background;
	}

	.description {
		padding: 0 48px;
		margin-bottom: 0;
	}

	.form {
		padding: 0 48px;
		overflow: visible;
		min-height: unset;
	}

	.form-field .label,
	.form-field .radio--label,
	.form-field .form-check-label {
		font-family: @description_font_family;
	}

	.form-field .text-input {
		font-family: @description_font_family;
		font-size: 16px;
		height: 42px;
		padding: 0 15px;
	}

	.form-field .form-check-input {
		margin-top: 0;
	}

	.form-field .form--list-container {
		margin-top: 0;
	}

	.form-template {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.form-item {
		display: flex;
		width: 100%;
		flex-direction: column;
		margin-top: 15px;
	}

	.label {
		color: #000;
		margin-bottom: 5px;
		margin-top: unset;
		font-size: 16px;
	}

	.text-input {
		border: none;
		border: 1px solid @input_border_color;
		border-radius: 4px;
		padding: 15px 10px;
		width: 100%;
		height: 30px;
		font-size: 14px;
		outline: 0;
	}

	.btn--primary {
		font-size: 16px;
		font-weight: 700;
		width: 100%;
	}

	.btn--secondary {
		display: none;
	}

	.buttons {
		margin-top: 24px;
		padding: 0 48px;
	}

	// .mobile .buttons {
	// 	padding: 0;
	// }
}
#sbz-pop .template.template41 {
	#template() !important;
}
