@import './font.less';

#template() {
    @import './base.less';

    .container {
		width: 800px;
		position: relative;
		display: flex;
		max-height: 95%;
		max-width: 90%;
		min-height: 520px;
		background: transparent;
		overflow: hidden;
		border-radius: @popup_border_radius;
	}
	.mobile .container {
		padding: 20px;
	}
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.content {
		position: relative;
		text-align: center;
		z-index: 2;
	}

	.mobile .content {
		padding: 0;
	}

	.body {
		z-index: 1;
		padding-top: 89px;
		padding-left: 55px;
		padding-right: 55px;
	}

	.mobile .body {
		padding: 0;
	}

	.title {
		text-align: center;
		line-height: 48px;
		margin-bottom: 40px;
	}

	.description {
		text-align: center;
		line-height: 36px;
		padding: 0 10px;
		margin-bottom: 44px;
	}
	
	.form {
		display: none;
		padding: 0;
	}
	.label {
		display: none;
	}
	input[type='text'] {
		border: 0;
		outline: 0;
		height: 40px;
		border-bottom: 1px solid @input_border_color;
		padding: 0;
		font-size: 16px;
		font-family: 'Roboto';
	}

	.buttons {
		flex-direction: column;
		padding: 0;
	}
	.btn.btn--primary {
		font-size: 24px;
		line-height: 19px;
		font-weight: bold;
		font-family: 'Roboto';
		text-transform: uppercase;
		border-radius: 4px;
		min-height: 64px;
		margin-bottom: 56px;
	}

	.desktop .btn.btn--primary {
		padding-left: 55px;
		padding-right: 55px;
	}

	.mobile .btn.btn--primary {
		margin-bottom: 39px;
	}
	.btn.btn--secondary {
		font-size: 16px;
		line-height: 24px;
		padding: 0;
	}
	.mobile .btn.btn--secondary {
		margin-top: 0;
	}
}

#sbz-pop .template.template46 {
	#template() !important;
}