#subiz .template.template3 * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

#subiz .template.template3 .container {
  display: flex !important;
  flex-direction: row !important;
  width: 800px !important;
  max-width: 100% !important;
  margin: 0 auto !important;
  position: relative !important;
}

#subiz .template.template3 .left-content {
  display: flex !important;
  flex: 1 !important;
  background-image: url("../assets/bg3.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

#subiz .template.template3 .right-content {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 !important;
  align-items: center !important;
  background-color: #fff !important;
  padding-top: 42px !important;
  position: relative !important;
}

#subiz .template.template3 .button-close {
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  height: 20px !important;
  width: 20px !important;
  border-radius: 10px !important;
  border: 0px !important;
  background-image: url("../assets/close.png") !important;
  background-size: 100% 100% !important;
  z-index: 100 !important;
}

#subiz .template.template3 .description {
  margin-top: 10px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  align-self: flex-start !important;
  margin-left: 20px !important;
}

#subiz .template.template3 .red-div {
  margin-top: 8px !important;
  width: 134px !important;
  height: 5px !important;
  background-color: #B91526 !important;
  align-self: flex-start !important;
  margin-left: 25px !important;
}

#subiz .template.template3 .title {
  margin-top: 10px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 28px !important;
  line-height: 34px !important;
  align-self: flex-start !important;
  margin-left: 20px !important;
}

#subiz .template.template3 .form {
  width: 100% !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 20px !important;
}

#subiz .template.template3 .form-item {
  margin-top: 15px !important;
}

#subiz .template.template3 .label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 14px !important;
  color: #000000 !important;
  margin-top: 10px !important;
}

#subiz .template.template3 .text-input {
  width: 90% !important;
  height: 30px !important;
  border: none !important;
  border-bottom: 1px solid #a5a4a427 !important;
  font-size: 15px !important;
  outline: 0 !important;
}

#subiz .template.template3 .buttons-container {
  margin-top: 25px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 25px !important;
}

#subiz .template.template3 .primary-button {
  margin-right: 5px !important;
  margin-left: 5px !important;
  background-color: #B91526 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  height: 45px !important;
  border-radius: 5px !important;
  border: 0px !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  cursor: pointer !important;
  outline: 0 !important;
}

#subiz .template.template3 .secondary-button {
  margin-right: 5px !important;
  margin-left: 5px !important;
  background-color: #d9d9d9 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  height: 45px !important;
  border-radius: 5px !important;
  border: 0px !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  text-align: center !important;
  outline: 0 !important;
  cursor: pointer !important;
}

#subiz .template.template3 .secondary-button:hover {
  color: #bbbbbb !important;
}

#subiz .template.template3 .primary-button:hover {
  background-color: #92111e !important;
}

#subiz .template.template3 .container.mobile {
  height: 600px !important;
  width: 90% !important;
  flex-direction: column !important;
}

#subiz .template.template3 .mobile .right-content {
  position: unset !important;
  padding-top: 5px !important;
}

#subiz .template.template3 .mobile .left-content {
  position: relative !important;
}
