@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Roboto+Condensed|Yeseva+One&display=swap');
.container {
	width: 800px ;
	background-color: #fff ;
	display: flex ;
	flex-direction: row ;
	// margin: 0 auto;
	position: relative;

	position: fixed ;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)  ;
}

.left-content {
	display: flex ;
	background-image: url('../assets/bg9.png') ;
	background-size: cover;
	background-repeat: no-repeat ;
	width: 400px;
}

.right-content {
	display: flex ;
	flex-direction: column ;
	width: 400px;
	align-items: flex-start ;
	background-color: #fff ;
	padding-left: 30px ;
}

.button-close {
	height: 20px ;
	width: 20px ;
	border-radius: 10px ;
	border: 0px ;
	background-color: #000 ;
	position: absolute ;
	right: 10px ;
	top: 10px ;
	background-image: url("../assets/close.png") ;
	background-size: 100% 100% ;
}

.description {
	margin-top: 10px ;
	font-family: 'Muli';
	font-weight: normal ;
	font-size: 15px ;
	align-self: flex-start ;
	padding-right: 15px;
}

.title {
	margin-top: 60px ;
	font-family: 'Montserrat';
	font-weight: bold ;
	font-size: 26px ;
	line-height: 34px ;
	align-self: flex-start ;
	padding-right: 15px ;
}

 .form-template {
	display: flex ;
	flex-direction: column ;
	width: 100% ;
}
.form-item{
	margin-top:15px;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
}

 .label{
	margin-top:unset;
	font-family: 'Muli';
	font-weight: normal ;
	font-size: 13px ;
	align-self: flex-start ;
}
 .textarea {
	padding-top: 10px;
	padding-left: 5px;
	margin-top:5px;
	width: 90% ;
	height: 80px;
	border: solid 1px ;
	border-color: #d9d9d9 ;
	border-radius: 3px ;
	font-size: 13px ;
	outline: 0;
	font-family:'Muli';

}
 .text-input {
	padding-left: 7px;
	margin-top:5px;
	width: 90% ;
	height: 40px ;
	border: solid 1px #d9d9d9 ;
	border-radius: 3px ;
	font-size: 13px ;
	outline: 0 ;
	font-family: 'Muli';
}
.textarea::placeholder{
	color: #8d8d8d73;
	font-family: 'Muli';
}
.text-input::placeholder{
	color: #8d8d8d80;
	font-family: 'Muli';
}

.buttons-container {
	display: flex ;
	align-items: flex-start ;
	margin-top: 20px ;
	width: 100%;
	margin-bottom: 40px ;
	flex-direction: column;
}

.primary-button { 
	width: 305px;
	background-color: #FDAD15 ;
	border-radius: 5px ;
	border: solid 1px #fdad15 ;
	padding-top: 15px ;
	padding-bottom: 15px ;
	padding-left: 25px ;
	padding-right: 25px ;
	color: #fff ;
	font-size: 14px ;
	font-family: 'Roboto';
	font-weight: 600 ;
	outline: 0 ;
	text-align: center;
	cursor: pointer ;
}

.secondary-button {
	width: 305px;
	margin-top: 5px ;
	background-color: #d9d9d9 ;
	border-radius: 5px ;
	border: solid 1px #d9d9d9 ;
	padding-top: 15px ;
	padding-bottom: 15px ;
	padding-left: 25px ;
	padding-right: 25px ;
	color: #fff ;
	font-size: 14px ;
	font-family: 'Roboto';
	font-weight: 600 ;
	outline: 0 ;
	text-align: center;
	cursor: pointer ;
}

.primary-button:hover {
	background-color: #d78a38 ;
}

.secondary-button:hover {
	background-color: #bbbbbb ;
}

.container.mobile{
	// height: 90% ;
	flex-direction: column ;
	width:365px ;
}
.mobile .left-content{
	height: 200px;
	width:365px ;
	position: relative ;
}
.mobile .right-content{
	width: 365px ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: unset;
}
.mobile .right-content .form .form-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.mobile .right-content .title { 
	margin-top: 20px;
	padding-left : 15px;
	line-height: 30px;
	font-size: 26px;
}
.mobile .right-content .description { 
	margin-top: 10px;
	padding-left : 15px;
	font-size: 18px;
	margin-bottom:8px;

}
.mobile .form-item { 
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mobile .form-item .text-input{ 
	height: 35px;
}
.mobile .form-item .textarea{ 
	height: 60px;
}
.mobile .right-content .label {
	margin-left : 15px;
}
.mobile .right-content .buttons-container{
	display: flex ;
	align-items: center;
	justify-content: center;
	
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;

}
.mobile .right-content .buttons-container .primary-button{
	width: 310px;
	padding-top: 10px ;
	padding-bottom: 10px ;
	padding-left: 15px ;
	padding-right: 15px ;
}

.mobile .right-content .buttons-container .secondary-button{
	width: 310px;
	padding-top: 10px ;
	padding-bottom: 10px ;
	padding-left: 15px ;
	padding-right: 15px ;
}