@import url("https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Roboto+Condensed|Yeseva+One&display=swap");
#subiz .template.template1 .container {
  background-color: #F6F4F5 !important;
  width: 750px !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#subiz .template.template1 .image {
  background-image: url("../assets/bg1.png") !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
  width: 310px !important;
  position: absolute !important;
  top: -50px !important;
  left: -40px !important;
  bottom: 63px !important;
}

#subiz .template.template1 .main {
  margin: 15px !important;
  background-color: #fff !important;
  display: flex !important;
  flex-direction: row !important;
  flex: 1 !important;
  position: relative !important;
  padding-top: 10px !important;
}

#subiz .template.template1 .div-left {
  flex: 1 !important;
}

#subiz .template.template1 .div-right {
  flex: 1.5 !important;
  display: flex !important;
  flex-direction: column !important;
}

#subiz .template.template1 .button-close {
  height: 20px !important;
  width: 20px !important;
  border-radius: 10px !important;
  position: absolute !important;
  right: 20px !important;
  top: 20px !important;
  z-index: 100 !important;
  background-image: url("../assets/close.png") !important;
  background-size: 100% 100% !important;
  border: none !important;
  cursor: pointer !important;
}

#subiz .template.template1 .title {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: 40px !important;
  font-family: Yeseva One !important;
  font-weight: 700 !important;
  font-size: 36px !important;
  line-height: 42px !important;
  text-align: center !important;
  text-transform: uppercase !important;
}

#subiz .template.template1 .description {
  margin-top: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  text-align: center !important;
}

#subiz .template.template1 .buttons-container {
  display: flex !important;
  flex-direction: column !important;
  margin-top: 5px !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

#subiz .template.template1 .primary-button {
  border: 0px !important;
  border-radius: 5px !important;
  background-color: #424E58 !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  text-align: center !important;
  text-transform: uppercase !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  white-space: nowrap !important;
  cursor: pointer !important;
  border-radius: 28px !important;
}

#subiz .template.template1 .secondary-button {
  border: 0px !important;
  color: #000 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  text-align: center !important;
  padding: 5px !important;
  cursor: pointer !important;
  border-radius: 28px !important;
}

#subiz .template.template1 .form {
  display: flex !important;
  flex-direction: column !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#subiz .template.template1 .form-item {
  margin-top: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#subiz .template.template1 .label {
  font-family: Roboto !important;
  font-size: 13px !important;
  color: #000 !important;
  margin-top: unset !important;
}

#subiz .template.template1 .text-input {
  border: none !important;
  border-bottom: 1px solid #d9d9d9 !important;
  width: 100% !important;
  height: 30px !important;
  font-size: 15px !important;
  outline: none !important;
}

#subiz .template.template1 .text-input::placeholder {
  color: #8d8d8d80 !important;
}

#subiz .template.template1 .secondary-button:hover {
  color: #bbbbbb !important;
}

#subiz .template.template1 .primary-button:hover {
  background-color: #343e46 !important;
}

#subiz .template.template1 .mobile .main {
  background-image: url("../assets/bg1.png") !important;
  background-size: 100% 100% !important;
  margin: 0 !important;
}

#subiz .template.template1 .mobile .main .image {
  display: none !important;
}

#subiz .template.template1 .container.mobile {
  width: 335px !important;
  /* left: 10px ;
  	 right: 10px ; */
}

#subiz .template.template1 .mobile .div-left {
  display: none !important;
}

#subiz .template.template1 .mobile .div-right {
  background: white !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  margin-top: 50px !important;
  margin-bottom: 60px !important;
}

#subiz .template.template1 .mobile .title {
  font-style: normal !important;
  font-size: 32px !important;
  line-height: 40px !important;
  font-family: Roboto !important;
  text-align: center !important;
}

#subiz .template.template1 .mobile .description {
  margin-top: 8px !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 19px !important;
  text-align: center !important;
}
