@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Yeseva+One&display=swap');
* {
	margin: 0  ;
	padding: 0  ;
	box-sizing: border-box  ;
}
.container{
	width: 340px  ;
	max-width: 100%  ;
	display: flex  ;
	background-color: #fff  ;
	flex-direction: column  ;
	// margin: 0 auto;

	position: fixed ;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)  ;
}
.image{
	display: flex  ;
	background-image: url('../assets/bg4.png')  ;
	background-size:  cover  ;
	background-repeat: no-repeat  ;
	flex-direction: column  ;
	position: relative  ;
	height: 200px  ;
	max-height: 90%;
}
.button-close{
	position: absolute  ;
	right: 10px  ;
	top: 10px;
	height: 20px  ;
	width: 20px  ;
	border-radius: 10px  ;
	border: none  ;
	outline: 0  ;
	cursor: pointer  ;
	background-image: url('../assets/close.png')  ;
	background-size: 100% 100%  ;

}
.form{
	width:100%  ;
	display: flex  ;
	flex-direction: column  ;
	padding-left: 35px  ;
	padding-right: 35px  ;
}
.form-item{
	margin-top:15px;
}
.label{
	font-family:'Muli';
	font-size: 14px;
	color: #000000;
	margin-top: 10px;
}
.text-input{
	padding-left: 5px  ;
	height: 30px  ;
	width: 100%  ;
	border: none  ;
	border-bottom: 1px solid #d9d9d9  ;
	font-size: 15px  ;
	outline: 0  ;
	font-family:'Muli';
}
.text-input::placeholder{
	color: #8d8d8d80;
	font-family:'Muli';
}

.title{
	margin-top: 17px  ;
	padding-left:35px  ;
	color:#000  ;
	font-family:'Yeseva One' ;
	font-weight: bold  ;
	font-size: 32px  ;
}
.description{
	margin-top: 10px  ;
	margin-left:35px  ;
	color:#000  ;
	font-family:'Muli';
	font-weight: normal  ;
	font-size: 18px  ;
}
.buttons-container{
	display: flex  ;
	align-items: center  ;
	justify-content: center  ;
	margin-top: 25px  ;
	margin-bottom: 25px  ;
}
.primary-button{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right:5px  ;
	margin-left: 5px  ;
	color:#ffffff  ;
	font-size: 16px  ;
	background-color: #001984  ;
	border-radius: 5px  ;
	outline: 0  ;
	text-align: center;
	cursor: pointer  ;
	font-family: 'Roboto';
}
.secondary-button{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right:5px  ;
	margin-left: 5px  ;
	color:#ffffff  ;
	font-size: 16px  ;
	background-color: #d9d9d9d9  ;
	border-radius: 5px  ;
	outline: 0  ;
	text-align: center;
	cursor: pointer  ;
	font-family: 'Roboto';
}

 .secondary-button:hover {
	 color: #bbbbbb  ;
 }
 .primary-button:hover{
	 background-color: #03173f  ;
 }
.container.mobile{
	width: 330px;
}
.mobile title { 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
}

.mobile .description { 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	margin-right: 20px;;
}

.mobile .form-item{
	margin-top:10px;
}
.mobile .label{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top: 10px;
}
.mobile .text-input{
	padding-left: 5px  ;
	height: 30px  ;
	width: 100%  ;
	border: none  ;
	border-bottom: 1px solid #d9d9d9  ;
	font-size: 14px  ;
	outline: 0  ;
}
.mobile .buttons-container .primary-button{
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mobile .buttons-container .secondary-button{
	font-size: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}