.container {
	width: 800px ;
	background-color: #fff ;
	display: flex ;
	flex-direction: row ;
	margin: 0 auto;
	position: relative;
}

.left-content {
	display: flex ;
	background-image: url('../assets/bg9.png') ;
	background-size: cover;
	background-repeat: no-repeat ;
	width: 400px;
}

.right-content {
	display: flex ;
	flex-direction: column ;
	width: 400px;
	align-items: flex-start ;
	background-color: #fff ;
	padding-left: 30px ;
}

.button-close {
	height: 20px ;
	width: 20px ;
	border-radius: 10px ;
	border: 0px ;
	background-color: #000 ;
	position: absolute ;
	right: 10px ;
	top: 10px ;
	background-image: url("../assets/close.png") ;
	background-size: 100% 100% ;
}

.description {
	margin-top: 10px ;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal ;
	font-size: 15px ;
	align-self: flex-start ;
}

.title {
	margin-top: 60px ;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold ;
	font-size: 26px ;
	line-height: 34px ;
	align-self: flex-start ;
	padding-right: 10px ;
}

 .form {
	display: flex ;
	flex-direction: column ;
	width: 100% ;
}
.form-item{
	margin-top:15px;
}
 .label{
	margin-top:unset;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal ;
	font-size: 13px ;
	align-self: flex-start ;
}
 .textarea {
	padding-top: 10px;
	padding-left: 5px;
	margin-top:5px;
	width: 90% ;
	height: 80px;
	border: solid 1px ;
	border-color: #d9d9d9 ;
	border-radius: 3px ;
	font-size: 13px ;
	outline: 0;
}
 .text-input {
	padding-left: 7px;
	margin-top:5px;
	width: 90% ;
	height: 40px ;
	border: solid 1px #d9d9d9 ;
	border-radius: 3px ;
	font-size: 13px ;
	outline: 0 ;
}
.textarea::placeholder{
	color: #8d8d8d73;
}
.text-input::placeholder{
	color: #8d8d8d80;
}

.buttons-container {
	display: flex ;
	align-items: flex-start ;
	margin-top: 20px ;
	width: 100%;
	margin-bottom: 40px ;
	width: 100%;
	
}

.primary-button { 
	width: 93%;
	margin-top: 5px ;
	margin-right: 5px ;
	background-color: #FDAD15 ;
	border-radius: 5px ;
	border: solid 1px #fdad15 ;
	padding-top: 10px ;
	padding-bottom: 10px ;
	padding-left: 30px ;
	padding-right: 30px ;
	color: #fff ;
	font-size: 14px ;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600 ;
	outline: 0 ;
	cursor: pointer ;
}

.secondary-button {
	margin-top: 5px ;
	margin-left: 5px ;
	background-color: #d9d9d9 ;
	border-radius: 5px ;
	border: solid 1px #d9d9d9 ;
	padding-top: 10px ;
	padding-bottom: 10px ;
	padding-left: 30px ;
	padding-right: 30px ;
	color: #fff ;
	font-size: 14px ;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600 ;
	outline: 0 ;
	cursor: pointer ;
}

.primary-button:hover {
	background-color: #d78a38 ;
}

.secondary-button:hover {
	background-color: #bbbbbb ;
}

.container.mobile{
	height: 90% ;
	flex-direction: column ;
	width:335px ;
}
.mobile .left-content{
	height: 200px;
	width:335px ;
	position: relative ;
}
.mobile .right-content{
	width: 335px ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: unset;
}
.mobile .right-content .form .form-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.mobile .right-content .title { 
	margin-top: 20px;
	margin-left : 15px;
	line-height: 30px;
	font-size: 26px;
}
.mobile .right-content .description { 
	margin-top: 10px;
	margin-left : 15px;
	font-size: 18px;
	margin-bottom:8px;

}
.mobile .right-content .form .form-item { 
	margin-top: 10px;
}

.mobile .right-content .form .form-item .text-input{ 
	height: 35px;
}
.mobile .right-content .form .form-item .textarea{ 
	height: 60px;
}
.mobile .right-content .label {
	margin-left : 15px;
}
.mobile .right-content .buttons-container{
	display: flex ;
	align-items: center;
	justify-content: center;
	width: 335px;
	margin-bottom: 20px;
	margin-top: 20px;

}
.mobile .right-content .buttons-container .primary-button{
	width: 310px;
	height: 40px;
}