
@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Roboto+Condensed|Yeseva+One&display=swap');
@mixin color($color){
  color: $color;
  -webkit-text-fill-color :$color
}
.mobile.container {
	width: 335px;
	height: 600px;
	margin: 0 auto;
}

.container{
	display: flex;
	flex-direction: row;
	height: 530px;
	width: 800px;
	max-width: 100%;
	max-height: 100%;
	background-image: url('../assets/bg5.png');
	background-size: cover!important;
	background-repeat: no-repeat;
	background-position:center;
	position: relative;

	position: fixed ;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)  ;
}
.right{
	display: flex;
	flex: 1;
	position: relative;
}
.button-close{
	position: absolute;
	height: 30px;
	width: 30px;
	right:10px;
	top:10px;
	background-color: #091125;
	border-radius: 15px;
	border:none;
	outline: 0;
	cursor: pointer;
	background-image: url('../assets/close.png');
	background-size: 100% 100%;
}
.left{
	display: flex;
	width: 57%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title{
	text-transform: uppercase;
	margin-top: 5px;
	text-align: center;
	color: #FDAD15;
	font-family: Roboto Condensed;
	font-weight: bold;
	font-size: 36px;
	width: 75%;
}

.description{
	margin-top: 15px;
	font-family:'Muli';
	font-size: 18px;
	color: #fff;
	text-align: center;
	width: 80%;
}

.form-template{
	margin-top: 15px;
	width: 8	0%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.form-item{
	margin-top: 10px;
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center!important;
	flex-direction: column;
}
.label {
	display: none;
}
.text-input{
	font-size: 16px;
	width: 300px;
	text-align: center;
	max-width: 290px;
	height: 40px;
	background-color: #fff;
	border-radius: 25px;
	outline: 0;
	border-bottom: 1px solid #d9d9d9 ;
	border: none;
	padding-left: 10px;
	font-family:'Muli';
}
.buttons-container{
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
.primary-button{
	background-color: #FDAD15;
	width: 300px;
	height: 40px;
	border-radius: 25px;
	border: none;
	font-size: 18px;
	font-family:'Roboto';
	font-weight: bold;
	text-align: center;
	@include color(#fff);
	outline: 0;
	cursor: pointer;
}
.secondary-button{
	margin-top: 10px;
	background-color: ghostwhite;
	width: 300px;
	height: 40px;
	border-radius: 25px;
	border:none;
	font-size: 12px;
	font-family:'Roboto';
	font-weight: bold;
	border : solid 2px #ffffff;
	border-width: 2px;
	@include color(#000);
	text-align: center;
	outline: 0;
	cursor: pointer;
}
.secondary-button:hover {
	color: #bbbbbb;
}
.primary-button:hover{
	background-color: #e69f17;
}
.mobile .right{
	display: none;
}
.mobile .left{
	display: flex;
	flex: 1;
	width:100%;
	max-width: 100%;
	background-image: url('../assets/bg5_mobile.png');
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: flex-start;
	padding-top: 40px;
}
.mobile .left .subtitle{
	margin-top: 5px;
	font-size: 28px;
}
.mobile .left .title{
	margin-top: 55px;
	font-size: 28px;
	width: 80%;
}

.mobile .left .description{
	font-size: 16px;
	margin-top: 15px;
}

.mobile .left .form {
	margin-top: 30px;
	width:80%;
}
.mobile .left .form .text-input {
	margin-top: unset;
	width:100%;
}
.mobile .left .buttons-container {
	width: 80%;
}
.mobile .left .buttons-container .primary-button{
	width: 100%;
}
.mobile .left .buttons-container .secondary-button{
	width: 100%;
}
