@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Yeseva+One&display=swap');
@mixin color($color){
  color: $color;
  -webkit-text-fill-color :$color
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	flex-direction: column;
	width: 800px;
	max-width: 100%;
	align-items: center;
	background-image: url('../../assets/bg2.png');
	background-size: auto;
	// margin: 0 auto;
	position: relative;
	
	position: fixed ;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)  ;

}
.button-close {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 0px;
	background-image: url('../../assets/close.png');
	background-size:100% 100%;
}

.main {
	display: flex;
	flex-direction: column;
	padding-top:30px;
	width: 430px;
	max-width: 100%;
	max-height: 80%;
	align-items: center;
	background-color: #fff;
	margin-top: 36px;
	margin-bottom: 36px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.0196802), 0px 2px 4px rgba(0, 0, 0, 0.03), 0px 7px 12px rgba(0, 0, 0, 0.0503198), 0px 18px 28px rgba(0, 0, 0, 0.07);
}

.title {
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	font-family: "Montserrat";
	padding-left: 50px;
	padding-right: 50px;
	width:100%;
}

.description {
	margin-top: 10px;
	font-weight: normal;
	text-align: center;
	font-size: 18px;
	font-family: 'Muli';
	padding-left: 27px;
	padding-right: 27px;
	width:100%;
}

.buttons-container{
	display: flex;
	margin-top: 30px;
	margin-bottom:  35px;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.primary-button {
	border:0px;
	background-color: #FDAD15 ;
	@include color(#fff);
	font-size: 16px;
	font-weight: bole;
	text-align: center;
	text-transform: uppercase;
	padding-left: 30px;
	border-radius: 5px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: "Roboto";
	cursor: pointer;
	outline: 0;
}

.secondary-button {
	border:0px ;
	border-radius: 5px;
	background-color: #d1d1d1;
	@include color(#fff);
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 10px;
	cursor: pointer;
	font-family: 'Roboto';
	outline: 0;
}

.secondary-button:hover {
	color: #bbbbbb;
}
.primary-button:hover{
	background-color: #de9813;
}
.form-template {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	overflow: scroll;
}
.form-item{
	display: flex;
	width: 80%;
	flex-direction: column;
	margin-top: 20px;
}
.label{
	font-family: 'Muli';
	font-size: 12px;
	color: #000;
	margin-top:unset;
}
.text-input {
	border: none;
	border-bottom: 1px solid #d9d9d9;
	width: 100%;
	height: 30px;
	font-size: 14px;
	outline: 0;
	font-family: "Muli";
}
.text-input::placeholder{
	color: #8d8d8d80;
	font-family: "Muli";
}

.container.mobile{
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	width: 335px;
}
.container .main{
	max-height: 500px;
}
.mobile .title{
	padding-left:20px;
	padding-right:20px;
	font-size: 26px;
}
.mobile .description{
	font-size: 15px;
	padding-left:20px;
	padding-right:20px;
}
.mobile .buttons-container {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}
.mobile .buttons-container .primary-button{
	font-size: 12px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mobile .buttons-container .secondary-button{
	font-size: 12px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
