#subiz .template.template2 .radio {
  display: block !important;
  position: relative !important;
  width: 100% !important;
  height: 25px !important;
  margin-top: 5px !important;
}
#subiz .template.template2 input[type=radio] {
  position: absolute !important;
  visibility: hidden !important;
}
#subiz .template.template2 .radio--label {
  padding-left: 22px !important;
  display: block !important;
  position: relative !important;
  z-index: 9 !important;
  cursor: pointer !important;
}
#subiz .template.template2 .radio--check {
  display: block !important;
  position: absolute !important;
  border: 1px solid #aaa !important;
  border-radius: 100% !important;
  height: 16px !important;
  width: 16px !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 5 !important;
  transition: border 0.15s linear !important;
  -webkit-transition: border 0.15s linear !important;
}
#subiz .template.template2 .radio--check:hover {
  border: 1px solid #888 !important;
}
#subiz .template.template2 .radio--check::before {
  display: block !important;
  position: absolute !important;
  content: '' !important;
  border-radius: 100% !important;
  height: 10px !important;
  width: 10px !important;
  top: 2px !important;
  left: 2px !important;
  margin: auto !important;
  transition: background 0.15s linear !important;
  -webkit-transition: background 0.15s linear !important;
}
#subiz .template.template2 input[type=radio]:checked ~ .radio--check {
  border: 1px solid #0265ff !important;
}
#subiz .template.template2 input[type=radio]:checked ~ .radio--check::before {
  background: #0265ff !important;
}
#subiz .template.template2 .checkbox {
  display: block !important;
  position: relative !important;
  width: 100% !important;
  height: 25px !important;
}
#subiz .template.template2 input[type=checkbox] {
  position: absolute !important;
  visibility: hidden !important;
}
#subiz .template.template2 .checkbox--label {
  padding-left: 22px !important;
  display: block !important;
  position: relative !important;
  z-index: 9 !important;
  cursor: pointer !important;
}
#subiz .template.template2 .checkbox--check {
  display: block !important;
  position: absolute !important;
  border: 1px solid #aaa !important;
  border-radius: 4 px !important;
  height: 16px !important;
  width: 16px !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 5 !important;
  transition: border 0.15s linear !important;
  -webkit-transition: border 0.15s linear !important;
}
#subiz .template.template2 .checkbox--check:hover {
  border: 1px solid #888 !important;
}
#subiz .template.template2 .checkbox--check::before {
  display: block !important;
  position: absolute !important;
  content: '' !important;
  height: 100% !important;
  width: 100% !important;
  margin: auto !important;
  transition: background 0.15s linear !important;
  -webkit-transition: background 0.15s linear !important;
}
#subiz .template.template2 input[type=checkbox]:checked ~ .checkbox--check {
  border: 1px solid #0265ff !important;
}
#subiz .template.template2 input[type=checkbox]:checked ~ .checkbox--check::before {
  background: #0265ff !important;
}
#subiz .template.template2 .form--list-container {
  margin-top: 15px !important;
}
#subiz .template.template2 .label {
  font-size: 15px !important;
  display: block !important;
  margin-top: 20px !important;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v20/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Yeseva One Regular'), local('YesevaOne-Regular'), url(https://fonts.gstatic.com/s/yesevaone/v14/OpNJno4ck8vc-xYpwWWxli1VXg.ttf) format('truetype');
}
