@import url("https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Roboto+Condensed|Yeseva+One&display=swap");
#subiz .template.template9 .container {
  width: 800px !important;
  max-height: 80% !important;
  background-color: #fff !important;
  display: flex !important;
  flex-direction: row !important;
  position: relative !important;
  max-height: 550px !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#subiz .template.template9 .left-content {
  display: flex !important;
  background-image: url("../../assets/bg9.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  width: 400px !important;
}

#subiz .template.template9 .right-content {
  display: flex !important;
  flex-direction: column !important;
  width: 400px !important;
  align-items: flex-start !important;
  background-color: #fff !important;
  padding-left: 30px !important;
}

#subiz .template.template9 .button-close {
  height: 20px !important;
  width: 20px !important;
  border-radius: 10px !important;
  border: 0px !important;
  background-color: #000 !important;
  position: absolute !important;
  right: 10px !important;
  top: 10px !important;
  background-image: url("../../assets/close.png") !important;
  background-size: 100% 100% !important;
}

#subiz .template.template9 .description {
  margin-top: 10px !important;
  font-family: "Muli" !important;
  font-weight: normal !important;
  font-size: 15px !important;
  align-self: flex-start !important;
  padding-right: 15px !important;
}

#subiz .template.template9 .title {
  margin-top: 60px !important;
  font-family: "Montserrat" !important;
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 34px !important;
  align-self: flex-start !important;
  padding-right: 15px !important;
}

#subiz .template.template9 .form-template {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  overflow: scroll !important;
}

#subiz .template.template9 .form-item {
  margin-top: 15px !important;
}

#subiz .template.template9 .label {
  margin-top: unset !important;
  font-family: "Muli" !important;
  font-weight: normal !important;
  font-size: 13px !important;
  align-self: flex-start !important;
}

#subiz .template.template9 .textarea {
  padding-top: 10px !important;
  padding-left: 5px !important;
  margin-top: 5px !important;
  width: 90% !important;
  height: 80px !important;
  border: solid 1px !important;
  border-color: #d9d9d9 !important;
  border-radius: 3px !important;
  font-size: 13px !important;
  outline: 0 !important;
  font-family: "Muli" !important;
}

#subiz .template.template9 .text-input {
  padding-left: 7px !important;
  margin-top: 5px !important;
  width: 90% !important;
  height: 40px !important;
  border: solid 1px #d9d9d9 !important;
  border-radius: 3px !important;
  font-size: 13px !important;
  outline: 0 !important;
  font-family: "Muli" !important;
}

#subiz .template.template9 .textarea::placeholder {
  color: #8d8d8d73 !important;
  font-family: "Muli" !important;
}

#subiz .template.template9 .text-input::placeholder {
  color: #8d8d8d80 !important;
  font-family: "Muli" !important;
}

#subiz .template.template9 .buttons-container {
  display: flex !important;
  align-items: flex-start !important;
  margin-top: 20px !important;
  width: 100% !important;
  margin-bottom: 40px !important;
  flex-direction: column !important;
}

#subiz .template.template9 .primary-button {
  width: 305px !important;
  background-color: #FDAD15 !important;
  border-radius: 5px !important;
  border: solid 1px #fdad15 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  font-size: 14px !important;
  font-family: "Roboto" !important;
  font-weight: 600 !important;
  outline: 0 !important;
  text-align: center !important;
  cursor: pointer !important;
}

#subiz .template.template9 .secondary-button {
  width: 305px !important;
  margin-top: 5px !important;
  background-color: #d9d9d9 !important;
  border-radius: 5px !important;
  border: solid 1px #d9d9d9 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #fff !important;
  -webkit-text-fill-color: #fff !important;
  font-size: 14px !important;
  font-family: "Roboto" !important;
  font-weight: 600 !important;
  outline: 0 !important;
  text-align: center !important;
  cursor: pointer !important;
}

#subiz .template.template9 .primary-button:hover {
  background-color: #d78a38 !important;
}

#subiz .template.template9 .secondary-button:hover {
  background-color: #bbbbbb !important;
}

#subiz .template.template9 .container.mobile {
  flex-direction: column !important;
  width: 365px !important;
  max-height: 85% !important;
}

#subiz .template.template9 .mobile .left-content {
  height: 200px !important;
  width: 365px !important;
  position: relative !important;
}

#subiz .template.template9 .mobile .right-content {
  width: 365px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding-left: unset !important;
}

#subiz .template.template9 .mobile .form-item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}

#subiz .template.template9 .mobile .right-content .title {
  margin-top: 20px !important;
  padding-left: 15px !important;
  line-height: 30px !important;
  font-size: 26px !important;
}

#subiz .template.template9 .mobile .description {
  margin-top: 10px !important;
  padding-left: 15px !important;
  font-size: 18px !important;
  margin-bottom: 8px !important;
}

#subiz .template.template9 .mobile .form-item {
  margin-top: 10px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

#subiz .template.template9 .mobile .form-item .text-input {
  height: 35px !important;
}

#subiz .template.template9 .mobile .form-item .textarea {
  height: 60px !important;
}

#subiz .template.template9 .mobile .right-content .label {
  margin-left: 15px !important;
}

#subiz .template.template9 .mobile .buttons-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

#subiz .template.template9 .mobile .primary-button {
  width: 310px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

#subiz .template.template9 .mobile .secondary-button {
  width: 310px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
