::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #d6d6d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}
