@overlay                             : '@desktop_appearance.overlay';
@title_color                         : '@desktop_appearance.title_color';
@description_color                   : '@desktop_appearance.description_color';
@background                          : '@desktop_appearance.background';
@background_image                    : '@desktop_appearance.background_image';
@primary_button_background           : '@desktop_appearance.primary_button_background';
@primary_button_color                : '@desktop_appearance.primary_button_color';
@secondary_button_background         : '@desktop_appearance.secondary_button_background';
@secondary_button_color              : '@desktop_appearance.secondary_button_color';
@input_color                         : '@desktop_appearance.input_color';
@input_background                    : '@desktop_appearance.input_background';
// mobile
@mobile_overlay                      : '@mobile_appearance.overlay';
@mobile_title_color                  : '@mobile_appearance.title_color';
@mobile_description_color            : '@mobile_appearance.description_color';
@mobile_background                   : '@mobile_appearance.background';		
@mobile_background_image             : '@mobile_appearance.background_image';
@mobile_primary_button_background    : '@mobile_appearance.primary_button_background';
@mobile_primary_button_color         : '@mobile_appearance.primary_button_color';
@mobile_secondary_button_background  : '@mobile_appearance.secondary_button_background';
@mobile_secondary_button_color       : '@mobile_appearance.secondary_button_color';
@mobile_input_color                  : '@mobile_appearance.input_color';
@mobile_input_background             : '@mobile_appearance.input_background';

@import './animate.less';

.color(@color) {
	color: @color;
	-webkit-text-fill-color: @color;
}
.content(@heightImg) {
	display: flex;
	flex-direction: column;
	max-height: ~"calc(100% - @heightImg)";
}
.heightContainer(@height){
	max-height: @height;
	display: flex;
}

.content(@heightImg) {
	display: flex;
	flex-direction: column;
	max-height: calc(100% - @heightImg);
}
.heightContainer(@height) {
	max-height: @height;
	display: flex;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.overlay {
	position: absolute;
	width: 100%;
	top:0px;
	left: 0;
	height: 100%;
	background: @overlay;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20000000000100;
	flex-direction: column;
}
.overlay--iphone{
	border: solid 5px #000000;
	border-radius: 30px;
}
.notch{display: none;}
.overlay--iphone .notch{
	position: absolute;
	z-index: 10;
	top: -5px;
	height: 30px;
	background-color: #000000;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content:center;
}
.notch__camera{
	position: absolute;
	left: 20px;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	background-color: white;
}
 .notch__audio{
	height: 10px;
	width: 40%;
	border-radius: 5px;
	background-color: white;
}
.browser-bar{
	display: none;
}
.overlay.overlay--browser{
	// border: solid 1px #000000;
	top:50px;
	height: ~"calc(100% - 50px)";
}
.overlay--browser .browser-bar{
	position: absolute;
	z-index: 10;
	top:-55px;
	display: flex;
	width: 100%;
	background-color: #eef2f8ee;
	height: 55px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	align-items: center;

}
.button__red{ 
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background-color: #fc6352;
	margin-left: 20px;
}
.button__yellow{ 
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background-color: #ffd04f;
	margin-left: 10px;
}
.button__green{ 
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background-color: #01be59;
	margin-left: 10px;
}
.bar__url{
	width: 78%;
	height: 30px;
	background-color: #fff;
	border-radius: 5px ;
	margin-left: 50px;
}

.mobile .overlay {
	background: @mobile_overlay;
}

.title {
	.color(@title_color);
	whitespace: pre-wrap;
}

.mobile .title {
	.color(@mobile_title_color);
}

.description {
	.color(@description_color);
	whitespace: pre-wrap;
}
.mobile .description {
	.color(@mobile_description_color);
}

.container {
	background: @background;
}

.mobile .container {
	background: @mobile_background;
}

.container__inner {
	background: @background;
	width: 100%;
}

.mobile .container__inner {
	background: @mobile_background;
}

.background {
	background: @background;
	background-image: @background_image;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.mobile .background {
	background: @mobile_background;
	background-image: @mobile_background_image;
}

.btn.btn-close {
	z-index: 10;

	position: absolute;
	right: 10px;
	top: 10px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: background-color 0.2s;
}

.btn-close__icon{
	display: flex;
	height: 20px;
	width: 20px;
	border: 0px;
	stroke: #fff;
	margin: 5px auto
}

.btn-close:hover	{
	transition: background-color 0.2s;
	background-color: rgba(0, 0, 0, 0.5);
}

.form {
	overflow: auto;
	padding-left: @spacer;
	padding-right: @spacer;
}
.buttons {
	display: flex;
	padding-left: @spacer;
	padding-right:@spacer;
	margin-top: 30px;
	align-items: center;
	justify-content: center;
	margin: unset;
	margin-top: @spacer;
}

.btn {
	cursor: pointer;
	outline: 0;
	font-family: 'Roboto';
	border: 0px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 5px;
	text-align: center;
}

.btn.btn--primary {
	background: @primary_button_background;
	.color(@primary_button_color);

	padding-left: 22px;
	padding-right: 22px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.mobile .btn.btn--primary {
	background: @mobile_primary_button_background;
	.color(@mobile_primary_button_color);
}

.btn.btn--secondary {
	background: @secondary_button_background;
	.color(@secondary_button_color);

	padding-left: 22px;
	padding-right: 22px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-left: 10px;
}

.mobile .btn.btn--secondary {
	background: @mobile_secondary_button_background;
	.color(@mobile_secondary_button_color);
}

.form-field{
	display: flex;
	width: 100%;
	flex-direction: column;
	margin-top: 15px;
}

.radio {
	display: block;
	position: relative;
	width: 100%;
	height: 25px;
	margin-top: 5px;
}

input[type=radio]{
	position: absolute;
	visibility: hidden;
}

.radio--label{
	padding-left: 22px;
	display: block;
	position: relative;
	z-index: 9;
	cursor: pointer;
}

.radio--check{
	display: block;
	position: absolute;
	border: 1px solid #aaa;
	border-radius: 100%;
	height: 16px;
	width: 16px;
	top: 0px;
	left: 0px;
	z-index: 5;
	transition: border .15s linear;
	-webkit-transition: border .15s linear;
}

.radio--check:hover {
	border: 1px solid #888;
}

.radio--check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 10px;
	width: 10px;
	top: 2px;
	left: 2px;
	margin: auto;
	transition: background 0.15s linear;
	-webkit-transition: background 0.15s linear;
}

input[type=radio]:checked ~ .radio--check {
	border: 1px solid #0265ff;
}

input[type=radio]:checked ~ .radio--check::before {
	background: #0265ff;
}

.checkbox {
	display: block;
	position: relative;
	width: 100%;
	height: 25px;
}

input[type=checkbox] {
	position: absolute;
	visibility: hidden;
}

.checkbox--label {
	padding-left: 22px;
	display: block;
	position: relative;
	z-index: 9;
	cursor: pointer;
}

.checkbox--check {
	display: block;
	position: absolute;
	border: 1px solid #aaa;
	border-radius: 4 px;
	height: 16px;
	width: 16px;
	top: 0px;
	left: 0px;
	z-index: 5;
	transition: border .15s linear;
	-webkit-transition: border .15s linear;
}

.checkbox--check:hover {
	border: 1px solid #888;
}

.checkbox--check::before {
	display: block;
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	margin: auto;
	transition: background 0.15s linear;
	-webkit-transition: background .15s linear;
}

input[type=checkbox]:checked ~ .checkbox--check {
	border: 1px solid #0265ff;
}

input[type=checkbox]:checked ~ .checkbox--check::before {
	background: #0265ff;
}

input {
	background: @input_background;
	.color(@input_color);
}

.mobile input {
	background: @mobile_input_background;
	.color(@mobile_input_color);
}

.text-input::placeholder{
	.color(@input_color);
	opacity: 0.5;
}

.mobile .text-input::placeholder{
	.color(@mobile_input_color);
	opacity: 0.3;
}

.textarea{
	margin-top: 5px;
	height: 70px;
}

.textarea::placeholder {
	.color(@input_color);
	opacity: 0.5;
}

.mobile .textarea::placeholder {
	.color(@input_color);
	opacity: 0.3;
}

.form--list-container {
	margin-top: 15px;
}

.label{
	font-family: 'Muli';
	font-size: 12px;
	.color(#000);
	margin-top:unset;
}
