@import (css) url(https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Yeseva+One|Roboto+Condensed&display=swap);
@spacer-mobile:20px;
@spacer: 30px;
#template() {
  @import './base.less';
  .container {
    width: 335px;
    position: relative;
    .heightContainer(560px);
  }
  .desktop .container {
    min-width: 800px;
  }
  .mobile .container{
		max-height: unset;
		margin-top: 70px ;
    margin-bottom: 30px;
	}
  .title {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-family: 'Yeseva One';
    padding-bottom: 24px;
    padding-top: 33px;
    background: #fff;
  }
  .desktop .title {
    font-size: 48px;
    line-height: 56px;
    text-align: start;
  }
  .description {
    font-size: 20px;
    line-height: 32px;
    font-family: 'Roboto';
    text-align: center;
    background: #fff;
    margin-bottom: 70px;
  }
  .desktop .description {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
  }
  .form {
    padding: 0;
  }
  input[type='text'] {
    border: 0;
    outline: 0;
    height: 40px;
    border-bottom: 1px solid #fff;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto';
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
  .form--list-container, label {
    display: none;
  }
  .title-separator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: #fff;
    z-index: -1;
  }
  .desktop .title-separator {
    height: 50%;
  }
  .content {
    position: relative;
    z-index: 2;
    // padding: 15px;
    .content(0px);
    background: linear-gradient(68.47deg, #136186 -25.47%, #20DF70 125.47%);
  }

  .desktop .content {
    padding-top: 20px ;
    padding-bottom: 30px;
    padding-left: 45px ;
    padding-right: 45px;
  }
  .buttons {
    flex-direction: column;
    padding: 0;
  }
  .mobile  .form{
    padding-left: 20px;
    padding-right: 20px;
  }
  .mobile .buttons .btn.btn--primary {
    width: 70%;
    margin-bottom: 20px;
  }
  .btn.btn--primary {
    // margin-bottom: 25px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    width: 100%;
    border-radius: 32px;
    min-height: 48px;
  }
  .btn.btn--secondary {
    display: none;
  }
}

#sbz-pop .template.template25 { #template() !important; }
