@import (css) url(https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Yeseva+One|Roboto+Condensed&display=swap);
@spacer-mobile:20px;
@spacer: 30px;
#template() {
  @import './base.less';
  .container {
    width: 335px;
    position: relative;
  }
  .desktop .container {
    min-width: 440px;
  }
  .title {
    font-size: 48px;
    line-height: 56px;
    font-family: 'Yeseva One';
    text-align: center;
    margin-bottom: 8px;
    margin-top: 228px;
    text-transform: uppercase;
  }
  .desktop .title {
    font-size: 64px;
    line-height: 72px;
  }
  .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .content {
    position: relative;
    z-index: 2;
    padding: 30px 15px;
    background: linear-gradient(360deg, #1E2057 0%, rgba(39, 41, 114, 0.2) 100%);
  }
  .desktop .content {
    padding: 45px 30px;
  }
  .description {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 21px;
  }
  .form {
    padding: 0;
  }
  label {
    display: none;
  }
  .form--list-container {
    display: none;
  }
  input {
    font-size: 16px;
    line-height: 24px;
    color: #DADDEF;
    background: none;
    border: 2px solid #fff;
    border-radius: 24px;
    min-height: 48px;
    outline: 0;
    padding: 0 15px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #DADDEF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #DADDEF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #DADDEF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #DADDEF;
  }
  .btn.btn--primary {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    font-family: 'Roboto';
    width: 100%;
    border-radius: 24px;
    min-height: 48px;
    text-transform: uppercase;
  }
  .btn.btn--secondary {
    display: none;
  }
  .buttons {
    padding: 0;
    margin-top: 40px;
  }
}

#subiz .template.template28 { #template() !important; }