@import (css) url(https://fonts.googleapis.com/css?family=Montserrat|Muli|Roboto|Yeseva+One|Roboto+Condensed&display=swap);
@spacer-mobile:20px;
@spacer: 30px;
#template() {
  @import './base.less';
  .form, .buttons {
    display: none;
  }
  .container {
    width: 375px;
    height: 667px;
    position: relative;
  }
  .desktop .container {
    width: 800px;
    height: 400px;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .title {
    position: absolute;
    z-index: 2;
    top: 410px;
    left: 73px;
    font-size: 28px;
    line-height: 120%;
    font-weight: bold;
  }
  .desktop .title {
    top: 134px;
    left: 411px;
    font-size: 32px;
  }
  .description {
    font-size: 102px;
    line-height: 100%;
    position: absolute;
    top: 452px;
    left: 85px;
    z-index: 2;
    font-weight: bold;
  }
  .desktop .description {
    top: 169px;
    left: 423px;
    font-size: 114px;
  }
}

#subiz .template.tet20202 { #template() !important; }