#subiz .template.template1 .desktop {
  background-color: #07102e !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  height: -webkit-fill-available !important;
}
#subiz .template.template1 .btn.btn--close {
  background-color: #07102e !important;
  height: 20px !important;
  width: 20px !important;
}
#subiz .template.template1 .btn.btn--primary {
  background-color: #07102e !important;
  height: 20px !important;
  width: 20px !important;
}
#subiz .template.template1 .container {
  width: 800px !important;
  background-color: #f6f4f5 !important;
}
#subiz .template.template1 .container__inner {
  display: flex !important;
  margin: 15px !important;
  padding-top: 50px !important;
  position: relative !important;
  background-color: #fff !important;
  justify-content: flex-end !important;
}
#subiz .template.template1 .btn.btn--close {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}
#subiz .template.template1 .background {
  background-image: url('https://via.placeholder.com/300') !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  position: absolute !important;
  width: 390px !important;
  height: 500px !important;
  top: -40px !important;
  left: -40px !important;
  background-color: #d12 !important;
}
#subiz .template.template1 .content {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  width: 54% !important;
}
#subiz .template.template1 .title {
  font-family: Yeseva One !important;
  font-size: 48px !important;
  line-height: 55px !important;
  color: #000 !important;
  margin: unset !important;
  padding-left: 36px !important;
  padding-right: 40px !important;
  text-align: center !important;
}
#subiz .template.template1 .description {
  margin: unset !important;
  font-family: Roboto !important;
  font-size: 24px !important;
  text-align: center !important;
  color: #000000 !important;
  padding-top: 10px !important;
  padding-left: 36px !important;
  padding-right: 40px !important;
}
